@import 'fontawesome/fa-light';
@import 'fontawesome/fa-regular';
@import 'fontawesome/fa-solid';
@import 'fontawesome/fa-brands';
@import 'fontawesome/fontawesome';

@font-face {
  font-family:Whitney;
  font-style:normal;
  font-weight:100;
  src:url(../fonts/WhitneyHTF-Light.otf);
}

@font-face {
  font-family:Whitney;
  font-style:bold;
  font-weight:100;
  src:url(../fonts/WhitneyHTF-SemiBold.otf);
}
